In [ ]:
import psycopg2
import pandas as pd
from sshtunnel import SSHTunnelForwarder #Run pip install sshtunnel
from sqlalchemy.orm import sessionmaker #Run pip install sqlalchemy
from sqlalchemy import create_engine
#conn = create_engine('postgresql://atlas_adm:123456@143.54.25.131:5432/atlasdb')

In [ ]:
#ssh atlas-oportunidades-srv01@143.54.25.131
#senha Mt0c5P!lzT

tunnel = SSHTunnelForwarder(
    ('143.54.25.131', 22),
    ssh_username="atlas-oportunidades-srv01",
    ssh_password = "Mt0c5P!lzT",
    remote_bind_address=('localhost', 5432),
    local_bind_address=('localhost',8000), # could be any available port
)
# Start the tunnel
tunnel.start()

conn = create_engine(f'postgresql://atlas_adm:123456@{tunnel.local_bind_host}:{tunnel.local_bind_port}/atlasdb')

In [ ]:
dbConnection = conn.connect()
df = pd.read_sql("select * from atlas_schema.tb_estados", dbConnection)
print(df)
dbConnection.close()

In [ ]:
df = pd.read_excel("./Data/_State/Data/Dados - N3.xlsx")
colunas_manter = ['code', 'name']
df = df.loc[:, colunas_manter]
df = df.rename(columns={'code': 'cd_estado', 'name': 'nm_estado'})
print(df)

In [ ]:
dbConnection = conn.connect()
df.to_sql(    
    "tb_estados",
    dbConnection,
    schema="atlas_schema",
    if_exists='replace',
    index = False
)
dbConnection.close()

In [ ]:
dbConnection = conn.connect()
df_agencia = pd.read_sql("select * from atlas_schema.tb_agencias", dbConnection)
print(df_agencia.head())
df_unidade = pd.read_sql("select * from atlas_schema.tb_unidades", dbConnection)
print(df_unidade.head())
df_formato = pd.read_sql("select * from atlas_schema.tb_formato", dbConnection)
print(df_formato.head())
df_classificacao = pd.read_sql("select * from atlas_schema.tb_classificacao", dbConnection)
print(df_classificacao.head())
dbConnection.close()

In [ ]:
df = pd.read_excel("./Data/_State/dictionary_state.xlsx")
colunas_manter = ['Agency', 'Name', 'Description', 'Descrição', 'Label', 'Rótulo', 'Unit of analysis', 'Format', 'Classificação']
df = df.loc[:, colunas_manter]
df = df.rename(
    columns={
        'Name': 'cd_nm_coluna', 
        'Agency': 'nm_agencia',
        'Description': 'nm_descricao_en', 
        'Descrição': 'nm_descricao_pt', 
        'Label': 'nm_label_en', 
        'Rótulo': 'nm_label_pt', 
        'Unit of analysis': 'nm_unidade', 
        'Format': 'nm_formato', 
        'Classificação': 'nm_classificacao_pt'
    }
)
print(df.head())

In [ ]:
df_final = pd.merge(df, df_agencia, on='nm_agencia', how='left')
df_final = pd.merge(df_final, df_unidade, on='nm_unidade', how='left')
df_final = pd.merge(df_final, df_formato, on='nm_formato', how='left')
df_final = pd.merge(df_final, df_classificacao, on='nm_classificacao_pt', how='left')
print(df_final.head())

In [ ]:
colunas_manter = ['cd_nm_coluna', 'nm_descricao_en', 'nm_descricao_pt', 'nm_label_en', 'nm_label_pt', 'cd_agencia', 'cd_unidade', 'cd_formato', 'cd_classificacao']
df_final = df_final.loc[:, colunas_manter]
print(df_final.head())

In [ ]:
#conn = create_engine('postgresql://postgres:123456@localhost:5432/atlas_db')
dbConnection = conn.connect()
df_final.to_sql(    
    "tb_dicionario",
    dbConnection,
    schema="atlas_schema",
    if_exists='append',
    index = False
)
dbConnection.close()

In [ ]:
df = pd.read_excel("./Data/_State/Data/Dados - N3.xlsx")
df = df.drop('name', axis=1)
#df.set_index('name',inplace=True)

print(df.head())

In [ ]:
df1 = df.melt(
    id_vars=['code'],
    var_name='cd_nm_coluna',
    value_name='vl_por_cd'
).sort_values(by='code')

df1 = df1.rename(columns={'code':'cd_estado'})

print(df1.head())

In [ ]:
#conn = create_engine('postgresql://postgres:123456@localhost:5432/atlas_db')
dbConnection = conn.connect()
df1.to_sql(    
    "tb_cod_valor_estado",
    dbConnection,
    schema="atlas_schema",
    if_exists='append',
    index = False
)
dbConnection.close()

In [ ]:
df = pd.read_excel("./Data/_State/Data/IPEA - Dados Estaduais.xlsx")
df = df.drop('name', axis=1)
print(df.head())

In [ ]:
df1 = df.melt(
    id_vars=['code'],
    var_name='cd_nm_coluna',
    value_name='vl_por_cd'
).sort_values(by='code')

df1 = df1.rename(columns={'code':'cd_estado'})

print(df1.head())

In [ ]:
#conn = create_engine('postgresql://postgres:123456@localhost:5432/atlas_db')
dbConnection = conn.connect()
df1.to_sql(    
    "tb_cod_valor_estado",
    dbConnection,
    schema="atlas_schema",
    if_exists='append',
    index = False
)
dbConnection.close()